### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans

### IntelliJ ###
.idea/
*.iml
*.iws

### Eclipse ###
.metadata
bin/
tmp/

### VS Code ###
.vscode/

### Maven ###
target/
!.mvn/wrapper/maven-wrapper.jar

### Logs ###
*.log

### OS files ###
Thumbs.db
.DS_Store

### Java ###
*.class
